[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-debug-toolbar = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
psycopg2 = "*"
drf-nested-routers = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
django-pyproject = "*"

[requires]
python_version = "3.10"
